/** @format */

body {
  margin: auto;
}
/* header starts here  */

header {
  background-color: white;
}
.firstdiv {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}
.firstdiv .div1 {
  display: flex;
}

.p1 {
  font-weight: bold;
}
.img1 {
  width: 50px;
  padding-right: 10px;
  padding-top: 10px;
}
.div3 a {
  text-decoration: none;
  padding-right: 30px;
  color: rgb(106, 106, 223);
}
.div3 {
  visibility: hidden;
}
.div2 {
  line-height: 20px;
}

/* section 1 starts here */

.section1 {
  background-image: url(./images/bg.jpg);
  padding: 5%;
  padding-bottom: 60px;
  padding-top: 60px;
  margin-bottom: 50px;
  border: 2px solid;
}
.first.text {
  color: aliceblue;
}

.divinfo {
  display: flex;
  justify-content: space-between;
}

.leftside {
  padding: 20px;
}
.rightside {
  padding: 20px;
  background-color: white;
}
.inp1 {
  width: 97%;
  height: 50px;
  margin-right: 20px;
  padding-left: 10px;
}
.inp2 {
  width: 97%;
  height: 50px;
  padding-left: 20px;
  margin-bottom: 20px;
}
.inp3 {
  width: 97%;
  height: 50px;
  padding-left: 10px;
  margin-bottom: 20px;
}
.inp4 {
  width: 97%;
  height: 50px;
  padding-left: 10px;
  margin-bottom: 20px;
}
.btn1 {
  width: 100%;
  height: 40px;
  color: white;
  border: 0px solid;
  background-color: #007bff;
}
.img2 {
  width: 150px;
  border-radius: 1000px;
}

/* section 2 starts here */
.section2 {
  background-color: #f8f9fa;
  padding-top: 20px;
}
.quotes {
  text-align: center;
  margin-bottom: 20px;
}
.quotes p {
  font-family: sans-serif;
  padding-left: 5%;
  padding-right: 5%;
  line-height: 25px;
}
.quotes span {
  color: red;
  font-weight: bold;
}

.info div {
  text-align: center;
  width: 25%;
  padding: 30px;
}
.info div p {
  font-weight: normal;
}
.info div {
  margin: auto;
  width: 80%;
}

/* section 3 starts here */

.section3 p {
  line-height: 25px;
}

/* section 4 starts here */
.section4 {
  background-color: #f8f9fa;
  padding-top: 20px;
}
.become {
  margin: auto;
  padding-bottom: 15px;
}
.section4 h3 {
  text-align: center;
  line-height: 20px;
  border-bottom: 5px solid;
  border-width: 5px;
  border-color: #007bff;
  padding-bottom: 30px;
  margin-bottom: 30px;
  font-size: xx-large;
}
.teach {
  line-height: 25px;
  font-weight: normal;
}
.become button {
  width: 25%;
  border-radius: 5px;
}
.sec4flex button {
  width: 200px;
  margin-bottom: 20px;
}
.sec4flex img {
  width: 95%;
}
/* section5 starts here */

.section5 h3 {
  font-size: x-large;
  text-align: center;
}
.section5 p {
  font-weight: normal;
  width: 40%;
  margin: auto;
  padding-bottom: 30px;
  text-align: center;
  line-height: 25px;
}
.section5 img {
  width: 95%;
  padding: 10px;
  padding: 20px;
}

/* section6 starts here */

.btn2 {
  width: 90%;
  height: 40px;
  color: white;
  border: 0px solid;
  background-color: #007bff;
  border-radius: 5px;
  margin-left: 5%;
  margin-bottom: 20px;
}
.sec6flex p {
  line-height: 25px;
}

/* section7 starts here */

.sec7h3 {
  text-align: center;
  padding-top: 50px;
}

.rightside1 {
  padding: 40px;
  border: 0px solid;
  border-radius: 7px;
  box-shadow: 3px 3px 2px 2px rgb(236, 229, 229);
  background-color: white;
  margin: 50px;
}
.leftside1 img {
  width: 95%;
  padding-left: 30px;
}
.section7 {
  background-color: #f8f9fa;
  padding-bottom: 100px;
}
.section7 h3 {
  font-size: x-large;
}
.rightside1 p {
  line-height: 25px;
}

/* section8 starts here */

.section8 {
  padding: 5%;
}

.grid-items h3 {
  text-align: center;
  font-size: x-large;
  border-bottom: 5px solid;
  border-width: 5px;
  border-color: #007bff;
  padding: 3%;
}
.grid-items img {
  width: 95%;
  padding-left: 2%;
}
.grid-items p {
  padding: 0% 2%;
  line-height: 25px;
}
.grid-items-p {
  padding-top: 20px;
}
.ulist li {
  line-height: 25px;
}
.ulist span {
  font-weight: bolder;
}

/* section9 starts here */

.section9 {
  padding: 60px;
}
.h33 {
  text-align: center;
  border-bottom: 5px solid;
  border-color: #007bff;
  font-size: x-large;
  padding: 3%;
}
.section9 p {
  line-height: 25px;
}
.pzz {
  text-align: center;
}

.smile img {
  width: 94%;
}
.btn3 {
  width: 40%;
  height: 40px;
  color: white;
  border: 0px solid;
  background-color: #007bff;
  border-radius: 5px;
}

/* section10 starts here  */

.section10 {
  background-color: #f8f9fa;
  padding-top: 70px;
  padding-bottom: 70px;
}
.section10 div {
  background-color: #007bff;
  padding: 20px 20px;
  border-radius: 8px;
  text-align: center;
}
.interested p {
  font-size: x-large;
  color: white;
}

.btn4 {
  width: 70%;
  height: 40px;
  background-color: white;
  border: 0px solid;
  color: #007bff;
  border-radius: 5px;
}

/* section11 starts here */

.section11 {
  padding: 5%;
}
.section11 p {
  line-height: 25px;
}

.ta {
  text-align: center;
  padding: 50px;
}
.ta h3 {
  border-bottom: 5px solid #007bff;
  padding: 20px;
}
.btn5 {
  width: 60%;
  height: 40px;
  background-color: #007bff;
  border: 0px solid;
  color: white;
  border-radius: 5px;
}
/* section12 starts here */

.section12 {
  padding: 5%;
  background-color: #007bff;
}

.section12 p {
  line-height: 30px;
}

.sec12a {
  width: 80%;
  height: 60px;
  background-color: #007bff;
  border: 0px solid;
  color: white;
  border-radius: 5px;
}

.leftside2 {
  background-color: white;
  color: black;
  padding: 8%;
  margin-bottom: 30px;
}
.gets {
  font-size: x-large;
}
.javascript {
  font-size: xx-large;
}
.rightside2 {
  background-color: #dc3545;
  color: white;
  padding: 8%;
  font-size: large;
}

/* Footer starts here  */

.footergrid {
  /* background: black; */
  /* color: white; */
  padding: 10%;
  text-align: center;
}
.footergrid div {
  padding: 5px 0px;
}
.footergrid1 {
  padding-left: 400px;
}
.footergrid1 img {
  width: 50px;
  padding-right: 20px;
}
.footergrid1 p {
  font-size: large;
  visibility: hidden;
}
.footergrid2 p {
  font-size: large;
}
.footergrid2 input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}
.footergrid2 button {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  margin-top: 10px;
  border: 1px solid;
  background-color: #007bff;
}
.tsa {
  display: flex;
}
.tsa img {
  width: 40px;
  padding-right: 5px;
}
.tsa p {
  font-size: large;
  margin-top: 10px;
}

/* MEDIA QUERIESSS */

@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .become {
    width: 85%;
  }
  .section4 h3 {
    line-height: 40px;
  }
  .sec6flex {
    padding: 10%;
  }
  .reg {
    padding-left: 9%;
  }
  .btn4 {
    width: 150px;
  }
  .inp1 {
    margin-bottom: 20px;
  }
}

@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
  .leftside {
    width: 100%;
  }
  .rightside {
    width: 100%;
  }
  .become {
    width: 85%;
  }
  .sec6flex {
    padding: 5%;
  }
  .reg {
    padding-left: 5%;
  }
  .tsa {
    margin-left: 30%;
  }
}

@media (min-width: 650px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */

  .inp1 {
    width: 46%;
  }
  .inp2 {
    width: 46%;
  }

  .leftside {
    width: 100%;
  }
  .rightside {
    width: 100%;
  }
  .become {
    width: 85%;
  }
  .sec6flex {
    display: flex;
    justify-content: space-evenly;
    padding-left: 13%;
  }
  .sec6flex div {
    width: 78%;
  }
  .reg {
    padding-left: 13%;
  }
  .btn2 {
    width: 200px;
    margin-left: 13%;
  }
  .s11flex {
    display: flex;
    justify-content: space-around;
  }
  .s11flex div {
    width: 270px;
  }
  .s11flex li {
    line-height: 25px;
  }
  .btn5 {
    width: 500px;
  }

  .footergrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "location enter socials";
    column-gap: 40px;
    padding: 5%;
  }
  .footergrid1 {
    grid-area: socials;
    width: 100%;
  }
  .footergrid2 {
    grid-area: enter;
    width: 100%;
  }
  .footergrid3 {
    grid-area: location;
    width: 100%;
  }
  .tsa {
    padding-right: 50%;
  }

  .tsa p {
    display: inline;
  }
  .footergrid1 p {
    font-size: large;
    visibility: visible;
  }
}

@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .div1 {
    display: flex;
    padding: 1%;
  }
  .inp1 {
    width: 44.5%;
  }
  .inp2 {
    width: 44.5%;
  }
  .firstdiv {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 50px;
  }
  .become {
    width: 90%;
  }
  .section10 div {
    display: flex;
    justify-content: space-around;
  }
  .btn4 {
    margin-top: 20px;
  }
  .s11flex div {
    width: 350px;
  }
  .section12 {
    display: flex;
  }
  .leftside2 {
    margin-right: 30px;
    width: 80%;
    padding: 4%;
    width: 50%;
  }
  .rightside2 {
    width: 60%;
    padding: 4%;
    font-size: x-large;
    width: 45%;
  }
  .sec12a {
    width: 80%;
    height: 80px;
  }
  .div3 {
    visibility: visible;
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
  }
}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .inp1 {
    width: 44.5%;
  }
  .inp2 {
    width: 44.5%;
  }
  .div4quote {
    display: flex;
  }
  .info {
    display: flex;
    justify-content: space-around;
  }
  .sec4flex {
    display: flex;
    justify-content: space-around;
  }
  .sec4flex p {
    width: 95%;
  }
  .become {
    padding: 3%;
  }
  .group {
    width: 80%;
    height: 300px;
  }
  .rightside1 {
    width: 40%;
    position: absolute;
    top: 4250px;
    left: 470px;
  }
  .leftside1 img {
    width: 70%;
  }
  .grid-container {
    display: grid;
    grid-template-areas:
      "img img h3"
      "img img p";
  }
  .grid-items.img {
    grid-area: img;
  }
  .grid-items.h3 {
    font-size: x-large;
    grid-area: h3;
    width: 300px;
    margin: auto;
  }
  .grid-items.p {
    grid-area: p;
  }

  .section9 {
    padding: 40px;
  }

  .smile {
    display: flex;
  }
  .smile img {
    width: 50%;
    padding-right: 30px;
  }
  .smile div {
    width: 600px;
  }
  .pzz {
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
    margin-bottom: 50px;
  }
  .btn2 {
    width: 80%;
  }
  .section10 div {
    display: flex;
    justify-content: space-around;
    margin: 0px 250px;
  }
  .interested p {
    width: 300px;
    font-size: x-large;
  }
  .btn4 {
    margin-top: 50px;
    margin-right: 50px;
  }
  .s11flex div {
    width: 400px;
  }
}

@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  .inp1 {
    width: 46%;
  }
  .inp2 {
    width: 46%;
  }
  .rightside1 {
    width: 500px;
    position: absolute;
    left: 630px;
    top: 4030px;
    padding: 3%;
  }
  .leftside1 img {
    width: 800px;
    padding-left: 5%;
  }
  .section7 {
    padding-right: 2%;
    padding-left: 3%;
  }
  .grid-items.h3 {
    width: 400px;
    margin: auto;
  }
  .s11flex div {
    width: 550px;
  }
}
@media (min-width: 1660px) {
  /* hi-res laptops and desktops */

  .inp1 {
    width: 100%;
  }
  .inp2 {
    width: 100%;
  }

  .leftside {
    width: 100%;
  }
  .rightside {
    width: 100%;
  }
  .inp1 {
    width: 45.5%;
  }
  .inp2 {
    width: 45%;
  }
  .section7 {
    padding-right: 1%;
    padding-left: 2%;
  }
}
